* {
	box-sizing: border-box;
	margin: 0;
}
:root {
	--shadow: 20px;
	--object: 125px;
}
body {
	margin: 0;
	overflow: hidden;
	font-family: sans-serif;
}
.map {
	width: 100vw;
	height: 100vh;
	background-color: papayawhip;
	position: relative;
}
.object {
	width: var(--object);
	height: var(--object);
	position: absolute;
	background-image: url('../img/hand.gif');
	background-size: 100%;
}
.object.left {
	box-shadow: calc(var(--shadow) * -1) calc(var(--shadow) * -1) black;
}
.object.right {
	box-shadow: var(--shadow) var(--shadow) black;
}
.object.bottom {
	box-shadow: calc(var(--shadow) * -1) var(--shadow) black;
}
.object.top {
	box-shadow: var(--shadow) calc(var(--shadow) * -1) black;
}

.placeholder {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
h1 {
	font-size: 100px;
}
h1::selection,
span::selection {
	background-color: skyblue;
}
span {
	font-size: 55px;
	position: absolute;
}
